<div class="popup popup--call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Обратный звонок</h2>
      <div class="popup__text">
        <p>Оставьте ваши данные и мы вам перезвоним.</p>
      </div>

      <form class="registration__form form-submit">
        <div class="form-submit__inputs">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите название организации"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              placeholder="Ваш e-mail"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="tel"
              placeholder="Контактный телефон"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="password"
              placeholder="Пароль"
            />
          </label>
        </div>

        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" required />
          <span class="checkbox__box"></span>
          <span class="checkbox__text">
            Соглашаюсь с <a href="#"> обработкой персональных данных</a>
          </span>
        </label>

        <button class="form-submit__btn btn" type="submit">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</div>
