body {
  font-family: $TTCommons;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-dark);
  position: relative;
  overflow-x: hidden;
  background-color: #f8f8f8;

  @include breakpointsMaxW($bp-768) {
    font-size: 15px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  &--px-0 {
    padding: 0;
  }

  &--p-0 {
    @include breakpointsMaxW($bp-991) {
      // padding: 0;
    }
  }
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  &--mt {
    margin-top: 230px;

    @include breakpointsMaxW($bp-991) {
      margin-top: 75px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.logo {
  width: 125px;
  height: 35px;
  display: block;

  @include breakpointsMaxW($bp-991) {
    width: 150px;
    height: 40px;
  }

  img {
    @include img(contain);
  }
}

// * Заголовок секции
.section-title {
  @include adaptive-value('font-size', 40, 24, 1);
}

// * Кнопки
.btn {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-white);
  transition: 150ms ease;
  padding: 15px 35px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  border: 1px solid var(--color-accent);
  transition: 200ms ease;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
  }

  &:active {
    transform: scale(0.98);
  }

  &--white {
    background-color: var(--color-white);
    font-size: 16px;
    line-height: 1;
    color: #515151;
    border: none;

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}

.grid {
  padding: 20px 0;
  background-color: #f8f8f8;

  &__wrapper {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 12px;

    &--gap-40 {
      gap: 40px;
    }

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: 270px 1fr;
      gap: 10px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }
}

.side {
  &__body {
    background-color: var(--color-white);
    padding: 20px 0;

    .side__control {
      padding-left: 0;
    }

    @include breakpointsMaxW($bp-991) {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-white);
      height: 100vh;
      z-index: 10;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      transform: translateX(-100%);
      transition: 400ms ease;
      width: 80%;
      overflow-y: auto;

      &.active {
        transform: translateX(0);
      }
    }

    .side-list {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px 0;

      &__item {
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        color: #747474;
        padding: 11px 15px;
        background-color: #f2f2f2;
        border-radius: 17px;
        cursor: pointer;
        transition: 200ms ease;

        &:hover {
          background-color: var(--color-accent);
          color: var(--color-white);
        }
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
  }

  &__btn {
    border-radius: 19px;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;

    @include breakpointsMaxW($bp-576) {
      padding: 15px 20px;
    }

    &--reset {
      border: none;
      color: #aaaaaa;
      background-color: #ededed;

      &:hover {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
  }

  &__inner {
    box-shadow: 0px 17px 41px 0px rgba(33, 33, 33, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--color-white);

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &--border {
      box-shadow: none;
      border: 1px solid #e1e3e4;
    }
  }

  &__top {
    padding: 30px 25px;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 15px;
  }

  &__catalog-btn {
    font-size: 17px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: #161616;
    padding-left: 50px;
    position: relative;
    transition-timing-function: 200ms ease;

    &::after {
      @include elDef();
      width: 21px;
      height: 21px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include backgroundImage(url('../images/icons/grid.svg'), contain);
    }

    &:hover {
      color: var(--color-accent);
    }
  }

  &__list {
    padding: 0 20px;
  }

  &__item {
    border-bottom: 1px solid #f8f8f8;
  }

  .accordion.active {
    .accordion__control {
      color: var(--color-accent);
    }
  }

  &__control {
    display: block;
    width: 100%;
    text-align-last: left;
    font-size: 18px;
    line-height: 1;
    color: #2f3133;
    padding: 10px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__link {
    padding: 15px 0;
    position: relative;
    padding-right: 15px;
    transition: 200ms ease;

    display: flex;
    align-items: center;

    &--active {
      color: var(--color-accent);
    }

    &-img {
      margin-right: 20px;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }

    &:hover {
      color: var(--color-accent);

      &::before,
      &::after {
        background-color: var(--color-accent);
      }
    }

    &--stock {
      &::after {
        display: none;
      }
    }
  }

  &__name {
    font-size: 17px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: #161616;
  }

  &--border {
    .side__catalog-btn {
      background-color: #ffffff;
      box-shadow: 0px 17px 41px 0px rgba(33, 33, 33, 0.1);
      border-radius: 5px;
      height: 60px;
      display: block;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;

      &::after {
        left: 25px;
      }
    }

    .side__link {
      &:hover {
        &::after {
          background-color: var(--color-accent);
        }
      }
      &::after {
        @include elDef();
        width: 8px;
        height: 8px;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(-90deg);
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: #dadada;
        transition: 200ms ease;
      }
    }
  }

  &--no-accordion {
    height: 100%;

    .side__inner {
      margin-bottom: 0;
    }

    .side__link {
      &:hover {
        &::after {
          background-color: var(--color-accent);
        }
      }

      &::after {
        @include elDef();
        width: 8px;
        height: 8px;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(-90deg);
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: #dadada;
        transition: 200ms ease;
      }
    }
  }
}

.form-submit {
  &__inputs {
    display: grid;
    @include adaptive-value('margin-bottom', 35, 20, 1);
    @include adaptive-value('gap', 14, 10, 1);
  }

  &__docs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 30px;
  }

  &__group {
    height: 55px;

    @include breakpointsMaxH($bp-768) {
      height: 45px;
    }
  }

  &__input {
    height: 100%;
    width: 100%;
    font-size: 17px;
    background-color: #f6f6f6;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 0 20px;
    line-height: 1;

    @include breakpointsMaxH($bp-768) {
      font-size: 15px;
    }

    &::placeholder {
      color: #747474;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 30px;
    color: #444444;
    @include adaptive-value('font-size', 19, 17, 1);
  }

  &__btn {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    padding: 0 20px;
    min-height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptive-value('font-size', 19, 16, 1);

    @include breakpointsMaxW($bp-768) {
      min-height: auto;
      padding: 15px 20px 10px;
    }
  }

  .checkbox {
    margin-bottom: 30px;
  }
}

input[type='file'] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.custom-file-upload {
  display: inline-block;
  padding: 3px 6px;
  width: 100%;
  height: 60px;
  border: 2px dashed var(--color-accent);
  cursor: pointer;

  line-height: 1;
  font-weight: 400;
  color: var(--color-accent);
  background-color: #fff2f1;
  border-radius: 5px;
  transition: 150ms ease;
  @include adaptive-value('font-size', 17, 14, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3px;

  span {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    color: #d3b3b1;
    transition: 150ms ease;
  }

  &:hover {
    background-color: lighten(#cf4b42, 10%);
    color: var(--color-white);

    span {
      color: var(--color-white);
    }
  }
}

.product-card {
  max-width: 235px;
  width: 100%;

  &:hover {
    .product-card__details {
      transform: translateX(-12px);
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    display: none;
  }

  &__stock {
    display: none;
  }

  &__vendor-code {
    display: none;
  }

  &--list {
    .product-card__list {
      display: block;
    }

    .product-card__stock {
      display: block;
    }

    .product-card__vendor-code {
      display: block;
    }
  }

  &__top {
    width: 100%;
    position: relative;
    border: 1px solid #ededed;
    padding: 14px;
    margin-bottom: 20px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpointsMaxW($bp-768) {
      height: 220px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: auto;
  }

  &__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 180px;

    @include breakpointsMaxW($bp-768) {
      height: 150px;
    }

    img {
      @include img(contain);
    }
  }

  &__title {
    font-size: 15px;
    line-height: 1.1;
    font-weight: 400;
    color: #878888;
    margin-bottom: 15px;

    a {
      transition: 200ms ease;
    }

    &:hover {
      a {
        color: var(--color-accent);
      }
    }
  }

  &__count {
    font-size: 13px;
    line-height: 1.1;
    color: #b6b6b6;
  }

  &__price {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    color: #424242;

    @include breakpointsMaxW($bp-576) {
      font-size: 15px;
      font-weight: 600;
    }
  }

  &__details {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease;
    z-index: 2;
  }

  .details-box {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__btn {
      background-color: #f8f8f8;
      border: 1px solid #eaedf1;
      border-radius: 5px;
      width: 35px;
      height: 35px;
      fill: #989898;
      display: flex;
      align-items: center;
      justify-content: center;

      &--active,
      &:hover {
        fill: var(--color-accent);
      }

      svg {
        width: 19px;
        height: 19px;
      }
    }
  }

  &__btn {
    height: 35px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding: 12px 12px 12px 30px;
    position: relative;
    flex-shrink: 0;

    @include breakpointsMaxW($bp-576) {
      padding: 12px 12px 12px 23px;

      span {
        display: none;
      }
    }

    &::after {
      @include elDef();
      left: 11px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      @include maskImage(url('../images/icons/cart.svg'), contain);
      background-color: var(--color-white);
    }

    &:hover {
      &::after {
        background-color: var(--color-accent);
      }
    }
  }

  &--list {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: auto minmax(auto, 360px) minmax(auto, 195px);
    max-width: 100%;
    gap: 30px;
    padding: 30px;
    transition: 300ms ease;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 0.85fr 1fr;
      padding: 20px 10px;
    }

    @include breakpointsMaxW($bp-576) {
      padding: 20px 10px;
    }

    &:hover {
      box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.12);

      .product-card__details {
        transform: translateY(-12px) translateX(-50%);
        opacity: 1;
        visibility: visible;
      }
    }

    .counter {
      width: 100%;

      &__input {
        width: 50px;
      }

      &__btn {
        width: 100%;
      }
    }

    .details-box {
      &__list {
        flex-direction: row;
      }
    }

    .product-card {
      &__top {
        border: none;
        margin-bottom: 0;
        height: 250px;
        width: 100%;

        @include breakpointsMaxW($bp-768) {
          grid-column: 1/2;
          grid-row: 1/-1;
          padding: 0 5px 0 0;
          justify-self: center;
        }

        @include breakpointsMaxW($bp-576) {
          grid-column: 1/-1;
        }
      }

      &__list {
        @include breakpointsMaxW($bp-576) {
          width: 100%;
        }
      }

      &__info {
        @include breakpointsMaxW($bp-768) {
          grid-column: 2/3;
          grid-row: 1/2;
        }

        @include breakpointsMaxW($bp-576) {
          grid-column: 1/-1 !important;
          grid-row: 2/3;
          justify-self: center;
          width: calc(100% - 20px);
          margin: 0 auto;
        }
      }

      &__spec {
        @include breakpointsMaxW($bp-576) {
          grid-column: 1/-1 !important;
          grid-row: 3/4;
          justify-self: center;
          width: 100%;
        }
      }

      &__img {
        max-width: 240px;
        min-width: 100px;
        width: 100%;
        height: 140px;

        @include breakpointsMaxW($bp-768) {
          padding: 0;
        }
      }

      &__vendor-code {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #b1b1b1;

        span {
          color: #383b41;
          font-weight: 500;
        }
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 1.1;
        font-weight: 400;
        color: #b1b1b1;
        border-bottom: 1px solid #f4f4f4;
        gap: 10px;
        padding: 10px 0;
        max-width: 100%;

        &:last-child {
          border-bottom: none;
        }
      }

      &__right {
        color: #383b41;
      }

      &__actions {
        flex-direction: column;

        @include breakpointsMaxW($bp-576) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          width: 100%;
        }
      }

      &__spec {
        width: 100%;

        @include breakpointsMaxW($bp-768) {
          grid-column: 2/3;
        }
      }

      &__btn {
        width: 100%;
        flex-shrink: 1;

        @include breakpointsMaxW($bp-768) {
          span {
            display: inline;
          }
        }
      }

      &__price {
        font-size: 22px;
        line-height: 1;
        font-weight: 600;
        color: #383b41;
      }

      &__details {
        top: initial;
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }

      &__prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
      }

      &__stock {
        font-size: 13px;
        line-height: 1;
        font-weight: 600;
        color: #55aa5b;
      }

      &__info {
        padding: 0 25px;
        border-left: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;

        @include breakpointsMaxW($bp-768) {
          border: none;
          padding: 0;
        }
      }
      &__counter {
        margin-bottom: 5px;
      }

      &__title {
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
        color: #383b41;
        margin-bottom: 15px;
      }
    }
  }

  &--row {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 150px 1fr auto;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    padding: 30px;
    transition: 300ms ease;
    padding: 20px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 150px 1fr;
    }

    .details-box {
      &__btn {
        width: 30px;
        height: 30px;

        svg {
          width: 17px;
          height: 17px;
        }
      }
    }

    .product-card {
      &__top {
        margin-bottom: 0;
        width: 150px;
        height: 120px;
        padding: 0;

        @include breakpointsMaxW($bp-768) {
          height: 150px;
        }

        @include breakpointsMaxW($bp-576) {
          grid-column: 1/-1;
          max-width: 200px;
          width: 100%;
          justify-self: center;
        }
      }

      &__img {
        @include breakpointsMaxW($bp-576) {
          max-width: 100%;
        }
      }

      &__info {
        @include breakpointsMaxW($bp-576) {
          grid-column: 1/-1;
          width: 100%;
          justify-self: center;
          text-align: center;
        }
      }

      &__spec {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        align-items: center;

        @include breakpointsMaxW($bp-768) {
          grid-column: 2/-1;
          justify-content: flex-start;
        }

        @include breakpointsMaxW($bp-576) {
          grid-column: 1/-1;
          width: 100%;
          justify-self: center;
          max-width: 200px;
        }
      }

      &__vendor-code {
        display: block;
      }
    }
  }
}

.counter {
  width: 95px;
  height: 35px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 5px;

  &__btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover {
      background-color: rgba(67, 140, 236, 0.1);
    }
  }

  &__input {
    width: 32px;
    height: 27px;
    background-color: var(--color-white);
    border-radius: 5px;
    text-align: center;
    outline: transparent;
    font-size: 15px;
  }
}

.range-slider {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
  color: #25282f;
  font-size: 0.875em;
  margin-bottom: 5px;

  &__range {
    border-radius: 4px;
    width: calc(100% - 20px);
    height: 5px;
    border: none;
    background-color: #e2e9f8;
    margin-bottom: 30px;
  }

  &__min {
    margin-right: 15px;
    flex-shrink: 0;
    width: 70px;
  }

  &__max {
    margin-left: 25px;
    flex-shrink: 0;
    @include breakpointsMaxW($bp-container) {
      margin-left: 15px;
    }
  }

  &__values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__min,
  &__max {
    width: 85px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #a8a8a8;
    background-color: #f3f3f3;
    border-radius: 5px;
  }

  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-accent);
    cursor: pointer;
    box-shadow: none;
    top: -8px;
    border-color: transparent;

    &:hover {
      border-color: var(--color-accent);
      transform: scale(1.2);
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-connect {
    background-color: var(--color-accent);
  }
}

.side-filter {
  @include breakpointsMaxW($bp-991) {
    position: absolute;
    background-color: var(--color-white);
  }
}

.side__content {
  .side__list {
    padding: 0;
  }
}

.fix-nav {
  display: none;
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 12px 0;

  @include breakpointsMaxW($bp-991) {
    display: block !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .header-tools__list {
    justify-content: center;
  }
}
