.catalog {
  @include adaptive-value('padding-bottom', 75, 50, 1);

  &__filter {
    @include maskImage(url('../images/icons/filters.svg'), contain);
    background-color: var(--color-dark);
    width: 20px;
    height: 20px;
    display: none;

    @include breakpointsMaxW($bp-991) {
      display: block;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;

    @include breakpointsMaxW($bp-container) {
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      justify-content: space-between;

      @include breakpointsMaxW($bp-container) {
        gap: 10px;
      }

      @include breakpointsMaxW($bp-991) {
        gap: 20px;
      }

      @include breakpointsMaxW($bp-768) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 15px;

    @include breakpointsMaxW($bp-container) {
      gap: 8px;
    }
  }

  &__btn {
    width: 18px;
    height: 18px;
    transition: 200ms ease;

    @include breakpointsMaxW($bp-container) {
      width: 15px;
      height: 15px;
    }

    &:hover,
    &--active {
      background-color: var(--color-accent);
    }

    &--grid {
      @include maskImage(url('../images/icons/grid-2.svg'), contain);
      background-color: var(--color-dark);
    }

    &--list {
      @include maskImage(url('../images/icons/list-2.svg'), contain);
      background-color: var(--color-dark);
    }

    &--list-2 {
      @include maskImage(url('../images/icons/list-3.svg'), contain);
      background-color: var(--color-dark);
    }
  }

  &__title {
    @include fz30();
    font-weight: 500;
    flex-shrink: 0;

    @include breakpointsMaxW($bp-container) {
      font-size: 25px;
    }
  }

  &__list {
    display: grid;
    gap: 10px;;
    @include adaptive-value('margin-bottom', 60, 30, 1);

    @include breakpointsMaxW($bp-768) {
      gap: 30px;
    }

    &--grid {
      grid-template-columns: repeat(3, minmax(auto, 300px));
      gap: 45px 25px;
      justify-content: center;

      .product-card{
        max-width: 100%;
      }

      @include breakpointsMaxW($bp-991) {
        grid-template-columns: repeat(3, minmax(auto, 235px));
        gap: 40px 20px;
      }

      @include breakpointsMaxW($bp-768) {
        grid-template-columns: repeat(2, minmax(auto, 235px));
        gap: 40px 20px;
      }

      @include breakpointsMaxW($bp-576) {
        gap: 30px 10px;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;

      .catalog__pagination {
        grid-row: 2/3;
        justify-self: center;
      }
    }
  }

  &__btn-more {
    width: 135px;
    padding: 15px;
    justify-self: center;
  }

  .catalog-sort {
    display: flex;
    align-items: center;
    gap: 14px;

    @include breakpointsMaxW($bp-container) {
      gap: 10px;
    }

    &__name {
      font-size: 15px;
      line-height: 1;
      font-weight: 400;
      color: var(--color-dark);
      flex-shrink: 0;

      @include breakpointsMaxW($bp-container) {
        font-size: 12px;
      }

      @include breakpointsMaxW($bp-991) {
        font-size: 14px;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 15px;

      @include breakpointsMaxW($bp-container) {
        gap: 5px;
      }

      @include breakpointsMaxW($bp-768) {
        display: none;
      }
    }

    .choices {
      display: none;

      &::after {
        top: 12px !important;
      }

      @include breakpointsMaxW($bp-768) {
        display: block;
        width: 200px;
      }

      @include breakpointsMaxW($bp-768) {
        width: 170px;
      }
    }

    &__btn {
      font-size: 14px;
      line-height: 1;
      color: #878889;
      transition: 200ms ease;

      @include breakpointsMaxW($bp-container) {
        font-size: 13px;
      }

      &--icon {
        padding-right: 20px;
        position: relative;

        &::after {
          @include elDef();
          width: 15px;
          height: 20px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          @include maskImage(url('../images/content/arrows.png'), contain);
          background-color: #878889;
          transition: 200ms ease;
        }
      }

      &:hover,
      &--active {
        color: #383b41;

        &::after {
          background-color: #383b41;
        }
      }
    }
  }

  .catalog-show {
    display: flex;
    align-items: center;
    gap: 10px;

    @include breakpointsMaxW($bp-container) {
      gap: 5px;
    }

    &__name {
      flex-shrink: 0;
    }

    .choices {
      background-color: #ffffff;
      border-radius: 5px;
      background-color: transparent;
      border: none;
      width: 40px;
      flex-shrink: 0;

      @include breakpointsMaxW($bp-container) {
        width: 34px;
      }

      &__inner {
        padding: 0;
      }

      &::after {
        top: 5px !important;
        right: 5px !important;
        @include maskImage(url('../images/icons/triangle.svg'), contain);
      }
    }
  }
}
