<section class="catalog-section">
  <div class="container">
    <h2 class="catalog-section__title">Каталог оптики оптом</h2>

    <div class="catalog-section__slider swiper">
      <ul class="catalog-section__wrapper swiper-wrapper">
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/1.jpg')"
          >
            <h3 class="categories-card__title">
              Оправы
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/2.jpg')"
          >
            <h3 class="categories-card__title">
              Очки
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/3.jpg')"
          >
            <h3 class="categories-card__title">
              Линзы
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/4.jpg')"
          >
            <h3 class="categories-card__title">
              Аксессуары
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/1.jpg')"
          >
            <h3 class="categories-card__title">
              Оправы
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/2.jpg')"
          >
            <h3 class="categories-card__title">
              Очки
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/3.jpg')"
          >
            <h3 class="categories-card__title">
              Линзы
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
        <li class="catalog-section__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/content/categories/4.jpg')"
          >
            <h3 class="categories-card__title">
              Аксессуары
              <span class="categories-card__title-link"></span>
            </h3>

            <a class="categories-card__link" href="#"></a>
          </article>
        </li>
      </ul>

      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>

    <div class="catalog-section__bottom">
      <a class="catalog-section__btn btn" href="#">Перейти в каталог</a>
    </div>
  </div>
</section>
