<section class="contacts">
  <div class="container container--px-0">
    <h2 class="contacts__title">Контакты</h2>

    <div class="contacts__box">
      <div class="contacts__top">
        <div class="contacts__connect">
          <a class="contacts__phone" href="tel:+79268128611"
            >8 (926) 812-86-11</a
          >
          <div class="contacts__email">
            <a href="mailto:optic-alliance@mail.ru">
              <span>E-mail:</span>
              optic-alliance@mail.ru
            </a>
          </div>
        </div>
        <ul class="contacts__schedules">
          <li class="contacts__schedule">
            <span>Адрес:</span> г. Москва, проезд Серебрякова, д. 2,корп. 1
          </li>
          <li class="contacts__schedule">
            <span>Время работы магазина:</span> Пн-Суб: 9:00-18:00, Вс
            9:00-13:00
          </li>
          <li class="contacts__schedule">
            <span>Время работы колл-центра:</span> Будни, 9:00-18:00
          </li>
        </ul>
        <div class="contacts__socials socials socials--accent">
          <span class="socials__name">Мы в социальных сетях:</span>
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--instagram" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--mailru" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--whatsapp" href="#"></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A884935b8703a7db18b8fbf455e36739fde32cf14ceaf3fae1438e46059e00a1a&amp;source=constructor"
          width="950"
          height="450"
        ></iframe>
      </div>
    </div>

    <div class="contacts__box">
      <div class="contacts__top">
        <div class="contacts__connect">
          <a class="contacts__phone" href="tel:+79268128611"
            >8 (926) 812-86-11</a
          >
          <div class="contacts__email">
            <a href="mailto:optic-alliance@mail.ru">
              <span>E-mail:</span>
              optic-alliance@mail.ru
            </a>
          </div>
        </div>
        <ul class="contacts__schedules">
          <li class="contacts__schedule">
            <span>Адрес:</span> г. Казань, ул. Рахимова 8, корпус 19 Бизнеc
            Центр “Левченко”
          </li>

          <li class="contacts__schedule">
            <span>Время работы:</span> Посещение по согласованию с менеджером
          </li>
        </ul>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A7d4ceeef0b20d0c35bf9ddd949d89c8a75ec9202c008e78e0c08df89fb912840&amp;source=constructor"
          width="950"
          height="450"
        ></iframe>
      </div>
    </div>

    <div class="contacts__box">
      <div class="contacts__top">
        <div class="contacts__connect">
          <a class="contacts__phone" href="tel:+79775338754">
            8 (977) 533-87-54
          </a>
          <div class="contacts__email">
            <a href="mailto:optic-alliance@mail.ru">
              <span>E-mail:</span>
              optic-alliance@mail.ru
            </a>
          </div>
        </div>
        <ul class="contacts__schedules">
          <li class="contacts__schedule">
            <span>Адрес:</span> г. Ростов-на-Дону
          </li>

          <li class="contacts__schedule">
            <span>Время работы:</span> Посещение по согласованию с менеджером
          </li>
        </ul>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A7c22fff26f3217d42115dfee721c141c192fab2f97598d69823a2b02d586670f&amp;source=constructor"
          width="950"
          height="450"
        ></iframe>
      </div>
    </div>
  </div>
</section>
