<section class="delivery">
  <div class="container container--px-0">
    <div class="delivery__top">
      <h2 class="delivery__title">Доставка</h2>
      <p class="delivery__text">
        После подтверждения готовности заказа Вы можете получить его удобным для
        Вас способом.
      </p>
    </div>

    <ul class="delivery__list">
      <li class="delivery-item">
        <div class="delivery-item__top">
          <h3 class="deliver-item__title">Самовывоз</h3>
        </div>
        <div class="deliver-item__text">
          <p>
            Вы можете самостоятельно получить заказ в нашем шоу-руме,
            расположенном по адресу: г. Москва, пр-д Серебрякова, д.2, корп.1.
            Мы работаем Пн - Суб: 9:00-18:00, Вс 9:00-13:00
          </p>
        </div>
      </li>
      <li class="delivery-item">
        <div class="delivery-item__top">
          <h3 class="deliver-item__title">Доставка в регионы</h3>
        </div>
        <div class="deliver-item__text">
          <p>
            Доставка осуществляется за счет покупателя любой удобной
            транспортной компанией.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
