<section class="descr">
  <div class="descr__wrapper">
    <div
      class="descr__preview"
      style="background-image: url('images/content/descr.jpg')"
    ></div>
    <div class="descr__middle">
      <h2 class="descr__title">
        Оптовый интернет-магазин оптики «Alliance Optic»
      </h2>
      <div class="descr__text">
        <p>
          Вам нужны стильные и качественные солнцезащитные очки или оптика оптом
          для коррекции зрения?
        </p>
        <p>
          Тогда вы попали по адресу – наша компания уже много лет занимается
          продажей оптики из Китая. За время своей работы мы зарекомендовали
          себя в качестве лидирующего поставщика и не собираемся останавливаться
          на достигнутом.
        </p>
        <p>
          С момента основания девизом нашей компании стало постоянное развитие и
          совершенствование. Наши специалисты постоянно мониторят рынок – и все
          ради того, чтобы вы в любой момент могли купить оригинальные очки
          оптом. В чем залог нашего успеха Главное в бизнесе – репутация и
          доверие. И такая сфера торговли, как опт оптики не является
          исключением. Именно поэтому одним из преимуществ нашей компании
          является тщательный выбор поставщиков продукции.
        </p>
      </div>
    </div>
    <div
      class="descr__preview descr__preview--second"
      style="background-image: url('images/content/descr-2.jpg')"
    ></div>
  </div>
</section>
