<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__col footer__col--first">
          <a class="footer__logo logo" href="#">
            <img src="images/logo-white.png" alt="Логотип" />
          </a>

          <div class="footer__socials socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link socials__link--vk" href="#"></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--instagram" href="#"></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--mailru" href="#"></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--whatsapp" href="#"></a>
              </li>
            </ul>
          </div>

          <div class="footer__copy">
            2022 © Alliance Optic - оптовый мир качественной оптики, с доставкой
            по всей России.
          </div>

          <div class="footer__call-box">
            <a class="footer__phone" href="tel:+7 (495)789-10-12">
              +7 (495)789-10-12
            </a>
            <!-- <button class="footer__btn btn btn-call" type="button">
              Заказать звонок
            </button> -->
          </div>
        </div>

        <div class="footer__cols">
          <div class="footer__col">
            <span class="footer__name">Информация</span>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Доставка</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Оплата</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">О компании</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="footer__col footer__col--remove-on-mobile">
            <span class="footer__name">Каталог</span>
            <ul class="footer__list footer__list--double">
              <li class="footer__item">
                <a class="footer__link" href="#">Оправы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Готовые очки</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Очки</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Аксессуары</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Спортивные</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Акции</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Линзы</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__contacts">
          <span class="footer__name">Наши контакты</span>

          <div class="footer__contacts-inner">
            <a class="footer__phone" href="#">8 (926) 812-86-11</a>
            <a class="footer__mail" href="#">optic-alliance@mail.ru</a>
            <address class="footer__address">
              г. Москва, проезд Серебрякова, д. 2,корп. 1
              <a href="#">найти на карте</a>
            </address>
          </div>
        </div>

        <div class="footer__schedule">
          <span class="footer__name">Время работы</span>

          <div class="footer__time">
            <p>Пн-Суб: 9:00-18:00, Вс 9:00-13:00</p>
            <p>Колл-центр: Будни, 9:00-18:00</p>
          </div>
          <div class="footer__socials socials">
            <span class="socials__name">Мы в социальных сетях:</span>
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link socials__link--vk" href="#"></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--instagram" href="#"></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--mailru" href="#"></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--whatsapp" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-left">
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Пользовательское соглашение</a>
      </div>
      <a class="footer__up" href="#"></a>
    </div>

    <div class="footer__copy-mobile">
      2022 © Alliance Optic - оптовый мир качественной оптики, с доставкой по
      всей России.
    </div>
  </div>
</footer>
