<section class="login">
  <div class="container">
    <div class="login__wrapper">
      <h2 class="login__title">Войти</h2>

      <div class="tabs">
        <div class="tabs__top">
          <button class="tabs-btn" type="button">Клиент ООО</button>
          <button class="tabs-btn" type="button">Клиент ИП</button>
        </div>

        <div class="tabs-content active">
          <form class="login__form form-submit">
            <div class="form-submit__inputs">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="email"
                  placeholder="Ваш e-mail"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="password"
                  placeholder="Пароль"
                />
              </label>
            </div>

            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required />
              <span class="checkbox__box"></span>
              <span class="checkbox__text"> Оставаться в системе </span>
            </label>

            <button class="form-submit__btn btn" type="submit">ВОЙТИ</button>
          </form>

          <div class="login__bottom">
            <p class="login__text">Еще нет аккаунта?</p>
            <a class="login__link" href="registration.html" target="_blank">
              Зарегистрируйтесь
            </a>
          </div>
        </div>

        <div class="tabs-content">
          <form class="login__form form-submit">
            <div class="form-submit__inputs">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="email"
                  placeholder="Ваш e-mail"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="password"
                  placeholder="Пароль"
                />
              </label>
            </div>

            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required />
              <span class="checkbox__box"></span>
              <span class="checkbox__text"> Оставаться в системе </span>
            </label>

            <button class="form-submit__btn btn" type="submit">ВОЙТИ</button>
          </form>
          <div class="login__bottom">
            <p class="login__text">Еще нет аккаунта?</p>
            <a class="login__link" href="registration-ip.html" target="_blank">
              Зарегистрируйтесь
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
