<section class="promo" style="background-image: url('images/content/main.jpg')">
  <div class="container">
    <div class="promo__wrapper">
      <h2 class="promo__title">
        Группа компаний по поставке оптики для бизнеса по всей России
      </h2>
      <p class="promo__text">
        Мы поставляем солнцезащитные очки, медицинские оправы, очковые линзы,
        футляры для очков, аксессуары и обоорудование для оптики.
      </p>
    </div>

    <div class="promo__brands brands">
      <div class="brands__slider swiper">
        <ul class="brands__list swiper-wrapper">
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/1.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/2.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/3.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/4.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/5.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/1.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/2.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/3.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/4.png" alt="брэнд" />
            </a>
          </li>
          <li class="brands__item swiper-slide">
            <a href="#" target="_blank">
              <img src="images/content/brands/5.png" alt="брэнд" />
            </a>
          </li>
        </ul>
      </div>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
