<section
  class="promo"
  style="background-image: url('images/content/main.jpg')"
>
  <div class="container">
    <div class="promo__wrapper">
      <h2 class="promo__title">
        Группа компаний по поставке оптики для бизнеса по всей России 
      </h2>
      <p class="promo__text">
        Мы поставляем солнцезащитные очки, медицинские оправы, очковые линзы,
        футляры для очков, аксессуары и обоорудование для оптики.
      </p>
    </div>

    <div class="promo__brands brands">
      <ul class="brands__list">
        <li class="brands__item">
          <img src="images/content/brands/1.png" alt="брэнд">
        </li>
        <li class="brands__item">
          <img src="images/content/brands/2.png" alt="брэнд">
        </li>
        <li class="brands__item">
          <img src="images/content/brands/3.png" alt="брэнд">
        </li>
        <li class="brands__item">
          <img src="images/content/brands/4.png" alt="брэнд">
        </li>
        <li class="brands__item">
          <img src="images/content/brands/5.png" alt="брэнд">
        </li>
      </ul>
    </div>
  </div>
</section>
