<!-- Favicon -->
<link
  rel="shortcut icon"
  href="images/content/header/logo-mobile.png"
  type="image/x-icon"
/>

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- nouislider -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css"
/>

<!-- Choices JS  -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
/>

<!-- Custom Link -->
<link rel="stylesheet" href="css/style.min.css" />
